body {
  background-color: rgba(158, 127, 232, 0.2)
}

.App {
  text-align: center;
  font-family: poppins, Arial, Helvetica, sans-serif;
  background-color: white;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 30px;
  padding: 45px;
  margin-top: 20px;
}

.App h1 {
  color: #9e7fe8;
  margin-top: 10px;
}



